.card__item {
    margin: 0;
    position: relative;
    text-decoration: none;
    color: white;
    width: 100%;
    transition: opacity 0.25s ease;
}

.card__item:hover .card__img,
.card__item:focus-visible .card__img,
.card__item:hover .card__video {
    box-shadow: inset 0 0 0 3px #2f3a40;
    filter: brightness(0.97);
}

.card__item:focus-visible .card__video {
    box-shadow: inset 0 0 0 3px #2f3a40;
    filter: brightness(0.97);
}

.card__item:focus-visible {
    outline: none;
}

@media screen and (max-width: 320px) {
    .card__item {
        max-width: 100%;
    }
}
