.profile__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: solid white 2px;
    padding: 0;
    width: 250px;
    height: 50px;
    color: white;
    align-self: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width: 880px) {
    .profile__add-button {
        width: min(100%, 282px);
        height: 50px;
        margin: 0 auto;
        align-self: center;
    }
}
