.profile__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

@media screen and (max-width: 880px) {
    .profile__text {
        width: 100%;
        gap: 12px;
        align-items: flex-start;
        text-align: left;
    }
}
