.card__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    padding: 10px 6px 6px;
    color: white;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    border-radius: 0;
}

@media screen and (max-width: 880px) {
    .card__text {
        padding: 10px 2px 4px;
        gap: 12px;
    }
}
